<%- include('partials/header') -%>
<head>
    <title>Main</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<main class="main-container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>
