<head>
    <title>Main</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a8e03a729.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="top">
        <header>
            <div class="header">
                <div class="left">
                    <label for="search"></label>
                    <input type="text" id="search" name="search" placeholder="Search ...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="centre">
                    <!--<a href="#"><img src="imgs/mars-icon.jpg" alt=""></a>-->
                </div>
                <div class="right">
                    <a href="/login" class="col-3 btn btn-primary"> Log In</a>
                    <a href="/signup" class="col-3 btn btn-primary"> Sign Up</a>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="text">
                <h1>DARE MIGHTY THINGS.</h1>
                <h5>From Pathfinder to Ingenuity, and the Future of Planetary Adventure</h5>
            </div>

        </div>
    </section>
    <section class="latest">
        <h4>Latest News on Mars: Current Rovers, Orbiters and Future Projects</h4>
        <div class="list">
          <ul class="rows">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="articles">
                <a href="/post/<%= posts[i]._id%>">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
              </li>
            <% } %>
            </ul>
        </div>
    </section> 
</body>